.sidebarToggle {
  display: none;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
}

.sidebar {
  transform: translateX(-100%);
}

.sidebarToggle:checked~.sidebar {
  transform: translateX(0);
}

.sidebarLabel {
  position: absolute;
  cursor: pointer;
  left: 100%;
  top: 50%;
  transition: all 0.3s ease-in-out;
  transform: translateX(15%);
}

.menuIcon {
  display: block;
}

.arrowIcon {
  display: none;
}

.sidebarToggle:checked~.sidebar .menuIcon {
  display: none;
}

.sidebarToggle:checked~.sidebar .arrowIcon {
  display: block;
}

@media (min-width: 640px) and (max-width: 767px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebarToggle:checked~.sidebar {
    transform: translateX(0);
  }

  .sidebarLabel {
    left: calc(100% + 5px);
  }
}

@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }

  .sidebarToggle:checked~.sidebar {
    transform: translateX(-100%);
  }

  .menuIcon {
    display: none;
  }

  .arrowIcon {
    display: block;
  }

  .sidebarToggle:checked~.sidebar .menuIcon {
    display: block;
  }

  .sidebarToggle:checked~.sidebar .arrowIcon {
    display: none;
  }

  .sidebarLabel {
    left: 100%;
  }
}

@media (min-width: 1024px) {
  .sidebarLabel {
    left: 100%;
  }
}